@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Estilos para o cabeçalho */
header {
  background-color: #11749f;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0 20px 0;
  transition: 0.6s;
}
/* Estilos para o menu */
header ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  transition: 0.6s;
}
header ul li {
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.6s;
}
header a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: x-large;
  transition: 0.6s;
}
header a.active {
  color: #fff;
}
header a.menu-item {
  position: relative;
}
header a.menu-item:after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transition: transform 0.3s ease;
}
header a.menu-item:hover:after,
header a.menu-item.active:after {
  transform: translateX(-50%) scale(1);
}
header.menu-preso {
  background-color: #1792c7;
  position: fixed;
  height: 80px;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.6s;
  padding: 0;
}
header.menu-preso img {
  width: 7vw;
  transition: 0.6s;
}
header.menu-preso a {
  font-size: 1vw;
  transition: 0.6s;
}

.titulo-principal {
  text-align: center;
  color: #11749f;
}

/*Slides swiper.js */
.swiper {
  width: 100%;
  height: 50vh;
}
.swiper-scrollbar {
  display: none;
}
.swiper-slide.slide1 {
  background-image: url(/img/canoa.jpg);
  background-position: center;
  background-size: cover;
}
.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.overlay h1 {
  font-size: 80px;
  margin-bottom: 0;
}
.overlay p {
  font-size: 20px;
  text-align: center;
}
.swiper-slide.slide2 {
  background-image: url(/img/morrobranco.jpg);
  background-position: center;
  background-size: cover;
}
.swiper-slide.slide3 {
  background-image: url(/img/praia.jpg);
  background-position: center;
  background-size: cover;
}
:root {
  --swiper-theme-color: #ffffff !important;
}

.veja-mais {
  background-color: #11749f;
  font-size: 2em;
  padding-block-start: 0.67em;
  padding-block-end: 0.67em;
  text-align: center;
}
.veja-mais a {
  color: #ffffff;
}

/* Nossos Serviços */
#nossos-servicos {
  margin-left: 20%;
  margin-right: 20%;
}
#nossos-servicos h2 {
  color: #11749f;
  font-size: xx-large;
}
.nossos-servicos-item {
  width: 17.3vw;
  height: fit-content;
  max-height: 480px;
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}
.nossos-servicos-item img {
  width: 100%;
  height: 150px;
  object-position: center;
  object-fit: cover;
  border-bottom: #11749f solid 5px;
  border-radius: 10px 10px 0px 0px;
}
.nossos-servicos-content {
  padding: 0px 25px 0px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  max-height: 8.2vw;
  margin: 35px 0px 35px 0px;
}
.nossos-servicos-content strong {
  font-size: 0.9vw;
}
.nossos-servicos-content p {
  margin: 0;
  font-size: 0.8vw;
}
.nossos-servicos-content li:nth-child(2) {
  margin-bottom: 0 !important;
}
#nossos-servicos ul {
  list-style: none;
  padding: 0;
}
#nossos-servicos li {
  margin-bottom: 10px;
}

#nossos-servicos ul ul {
  margin-top: 5px;
}
.nossos-servicos-coluna1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nossos-servicos-coluna2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nossos-servicos-coluna2 .nossos-servicos-item {
  margin-left: 50px;
  margin-right: 50px;
}

/*Quem Somos*/
#quem-somos {
  background-image: url(/img/fortaleza.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#quem-somos .bg {
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  justify-content: space-between;
  height: 50vh;
  background: rgba(0, 0, 0, 0.788);
}
#quem-somos .quem-somos-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
}
#quem-somos .quem-somos-left img {
  width: 200px;
  border-radius: 500px;
}
#quem-somos .quem-somos-left h3 {
  font-size: xx-large;
  margin: 0;
}
#quem-somos .quem-somos-left p {
  font-size: 0.9vw;
  width: 30vw;
}
#quem-somos .quem-somos-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#quem-somos .quem-somos-right iframe {
  width: 29.5vw;
  border-radius: 5px;
  border: 5px #ffffff solid;
  outline: 8px #11749f solid;
}

/* Estilos para o FAQ */
#FAQ {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
#FAQ h2 {
  font-size: xx-large;
  color: #11749f;
}
details[open] > *:not(summary) {
  animation: details-show 150ms ease-in-out;
}
summary {
  border-bottom: 1px solid #000000;
  outline: none;
  padding: 1rem;
  display: block;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
  font-size: 20px;
}
details {
  width: 55vw;
  margin-top: 5px;
}
details summary::-webkit-details-marker {
  display:none;
}
details[open] > summary:before {
  transform: rotate(90deg);
}
details[open] summary {
  color: #11749f;
  border: 0;
}
details[open] p {
  border-bottom: 1px solid #000000;
  padding-bottom: 32px;
}
summary:before {
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent #11749f;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}

/* Estilos para a localização */
#local iframe {
  width: 100%;
  height: 300px;
  border: none;
}

/*Footer*/
.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.social-icon__item,
.menu__item {
  list-style: none;
}
.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}
.footer .social-icon, .footer .menu {
  padding: 0;
}
.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}
.menu__link:hover {
  opacity: 1;
}
.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}
.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}
.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}
.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}
.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}
.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}
@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
  